@font-face {
	font-family: Ember;
	src: url(../../../amazon-ember-cufonfonts/Amazon\ Ember.ttf);
}
@font-face {
	font-family: yakin;
	src: url(../../../yakin/Yakin.ttf);
}

.Home {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 1500px;
}

.Home_row {
	display: flex;

	z-index: 1;
}

.Home_container h1{
  text-align: center;
  margin-bottom: 20px ;
  font-family: vandal;
  letter-spacing: 5px;
}
.Home_container h1 {
	text-align: center;
	margin-bottom: 20px;
	font-family: yakin;
	letter-spacing: 5px;
}
